div.jumbotron > div > h1 {
    color: aqua;
}
.nav > * {
    color: red; 
    font-weight: bold; 
}
.jumbotron a.font-weight-bold {
color: beige;
}
.blog-main .blog-post:first-of-type {
    background-color: lightgray; 
    border: 2px solid black; 
}
.blog-main .blog-post:nth-of-type(1) > hr {
    color: red;
}
.nav span:nth-child(even) {
    color: blue; /* Cambia il colore del testo */
    background-color: lightgray; /* Esempio di stile */
}
.p-4 ol > li {
    
    border:solid red }
    .blog-main .blog-post:nth-of-type(2) .blog-post-meta a {
        color: green;
        font-size: 1.2rem;
    }
    .blog-main .blog-post:nth-of-type(3) > ul > li:nth-child(2) {
        color:orange;
    
    }
    .float-right.mb-3.mr-3 {
        color: red; 
        font-weight: bold; 
    }
    .blog-pagination .btn.btn-outline-secondary.disabled {
       
        background-color: rgb(22, 108, 100); 
    }
    .blog-footer p > a:nth-of-type(2) {
        color: rgb(141, 219, 53); 
       
    }